<!--
SPDX-FileCopyrightText: 2023 Dominik Wombacher <dominik@wombacher.cc>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Posts{% endblock %}

{% block content %}
	<h2 id="posts_title">Posts: Index</h2>

  &gt; <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}/">posts</a>
	<section id="archives">
	<ul>
    {% for article in dates %}
    	{% set current_year = article.date|strftime('%Y') %}
        {% set current_month = article.date|strftime('%b') %}
        {% if loop.previtem %}
        	{% set previous_year = loop.previtem.date|strftime('%Y') %}
            {% set previous_month = loop.previtem.date|strftime('%b') %}
        {% endif %}
        {% if current_year != previous_year %}
	        {% if loop.previtem %}
            		</ul>
            	</li>
            </ul>
        </li>
		{% endif %}
        <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}/{{ current_year }}/">{{ current_year }}</a>
        	<ul>
            	<li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}/{{ current_year }}/{{ current_month }}/">{{ article.date|strftime('%B') }}</a>
                	<ul>
		{% elif current_month != previous_month %}
        	{% if loop.previtem %}
            		</ul>
          		</li>
            {% endif %}
				<li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}/{{ current_year }}/{{ current_month }}/">{{ article.date|strftime('%B') }}</a>
              		<ul>
		{% endif %}
        				<li><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.locale_date}}">{{ article.title }}</a></li>
        {% if loop.last %}
					</ul>
            	</li>
            </ul>
        </li>
        {% endif %}
	{% endfor %}
    </ul>
    </section>
{% endblock %}
