{% extends "base.html" %}
{% block content %}
<section id="content">

{% block content_title %}{% endblock %}

<ol id="post-list">
{% for article in articles_page.object_list %}
	<li><article class="hentry">
		<header><h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
		<div class="entry-content">
		 {{ article.summary | replace("<h1>","") | replace("</h1>","") | replace("<h2>","") | replace("</h2>","") | replace("<p>","") | replace("</p>","") }} 
		</div>
		<footer class="post-info-index">
			<time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
		</footer>
	</article></li>
{% endfor %}
</ol>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section>
{% endblock content %}
