{% macro translations_for(article) %}

{% if article.translations %}
| 
    {% for translation in article.translations %}
        <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang | lookup_lang_name }}</a>{% if not loop.last %}, {% endif %} 
    {% endfor %}

{% endif %}
<div class="translation"></div>
{% endmacro %}

{% macro entry_hreflang(entry) %}
{% if entry.translations %}
  {% for translation in entry.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
  {% endfor %}
{% endif %}
{% endmacro %}
